// Colores
$primary-color: #0d6efd;
$secondary-color: #3b5998;
$background-color: #f8f9fa;
$text-color: #333;

// Fuentes
$font-primary: Arial, sans-serif;
$font-size-base: 16px;

// Espaciado
$spacing-unit: 8px;

// Bordes
$border-radius: 5px;

// Sombras
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
